# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# macOS files
.DS_Store

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R Markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# RStudio Connect folder
rsconnect/

# Translation temp files
po/*~

# Data files not included for redistribution/privacy reasons
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Intermediate outputs
outputs/temp/
outputs/intermediate/
